---
layout: default
---
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<div class="post">

  <header class="post-header">
    <h1 class="post-title">苹果核 - {{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
<div id="container"></div>
<script>
var gitment = new Gitment({
    id: '{{ page.id }}', // 可选。默认为 location.href
    owner: '{{ page.author }}',
    repo: 'pingguohe-comment',
    oauth: {
        client_id: '04ade5203856e146dc64',
        client_secret: '303b8547f18091e458ee903c22b2031e36b15392',
    },
})
gitment.render('container')
</script>

